<div class="row">
    <div class="col-lg-4">
        <div class="list-group">
            <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: red"></a>
            <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: orange"></a>
            <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: pink"></a>
            <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: green"></a>
            <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: greenyellow"></a>
            <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: blue"></a>
            <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: blueviolet"></a>
        </div>
    </div>
</div>

<!-- <audio controls>
<source src="../assets/sonidos/note1.wav" type="audio/ogg">
<source src="../assets/sonidos/note1.wav" type="audio/mpeg"> Your browser does not support the audio element.
</audio> -->