/* You can add global styles to this file, and also import other style files */

.list-group {
    cursor: pointer;
    height: 50px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}